<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd">

	<context:property-placeholder ignore-unresolvable="true" location="classpath:data.properties" />
	<!-- 扫描注解bean Controller -->
	<context:component-scan base-package="com.hal.bms">
		<context:include-filter type="annotation"  expression="org.springframework.stereotype.Controller" />
	</context:component-scan>
   
   
     <mvc:annotation-driven  />
   
	<!-- 注解驱动 自定义注解参数 -->
<!-- 	<mvc:annotation-driven>
		<mvc:argument-resolvers>
		</mvc:argument-resolvers>
	</mvc:annotation-driven> -->
	<!-- 视图解析器 -->
	<bean id="defaultViews"  class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="viewClass"
			value="org.springframework.web.servlet.view.JstlView" />  
		<property name="prefix" value="/WEB-INF/views/" />
		<property name="suffix" value=".jsp" />
	</bean>
	
		<!-- 定义无需Controller的url<->view直接映射 -->
	<mvc:view-controller path="/a" view-name="/web/index"/>
<!-- 	<mvc:view-controller path="/a/login" view-name="/web/login"/> -->
	<mvc:view-controller path="/s" view-name="/sys/system"/>
	<!-- 多文件上传解析 -->
	<bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver" />
	<!-- 当在web.xml 中 DispatcherServlet使用 <url-pattern>/</url-pattern> 映射时，能映射静态资源 -->
	
	<mvc:default-servlet-handler />

	<!-- 静态资源映射 -->
	<mvc:resources location="/static/" mapping="/static/**" />
     
     <!-- 验证消息资源文件 -->
     <bean id="messageSource" 
     class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basename"  value="classpath:messages"></property>
     </bean>
    <!-- 控制器异常处理 -->
     <bean id="exceptionHandlerExceptionResolver"
		class="org.springframework.web.servlet.mvc.method.annotation.ExceptionHandlerExceptionResolver">
	</bean>  

    <bean class="com.hal.bms.commons.exception.DefaultExceptionHandler" />    
</beans>

